.contactContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 5rem;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
}

