@font-face {
  font-family: "Montserrat";   
  src: local("Montserrat-Regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

.container{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: #1D1D1D;
    min-height: 100vh;
}